<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846874576237-hehjo153fsi68hb85t1lh1lg90cfogsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846874576237-hehjo153fsi68hb85t1lh1lg90cfogsa</string>
	<key>API_KEY</key>
	<string>AIzaSyBGxRnxApzoEN7PUh6dIPaYcONTlFZvIRY</string>
	<key>GCM_SENDER_ID</key>
	<string>846874576237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.KotechaArmaan.FireBaseTest</string>
	<key>PROJECT_ID</key>
	<string>ilift-d585c</string>
	<key>STORAGE_BUCKET</key>
	<string>ilift-d585c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:846874576237:ios:da43c85b0ade0f511f8664</string>
</dict>
</plist>
